 @font-face {
 	font-family: "FFBB";
 	src: url(../fonts/FFBB.ttf);
}
body,
#page {
	min-width: 960px;
	margin: 0 auto;
}
#section-content {
	width: 960px;
	margin: 0 auto;
	min-height: 700px;
}
.site-name a {
	font: 110px FFBB;
	color: white;
	text-decoration: none;
}
.site-slogan {
	font: 22px Arial;
	color: white;
	text-transform: uppercase;
	text-align: right;
	margin: 0 35px 0 0;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
#section-header {
	outline: 1px solid black;
	position: relative;
	background-color: #002060;
	margin-bottom: 40px;
	min-width: 960px;
}
.navigation .main-menu a {
	color: white;
	font: 16px Arial;
	text-transform: uppercase;
}
.logo-img img {
	float: left;
}

#zone-user-wrapper {
	background-color: black;
	box-shadow: 0px 5px 42px -8px black;
	height: 30px;
	position: relative;
}
#zone-user-wrapper .content li a,
#zone-user-wrapper .language-switcher-locale-url a {
	color: white;
	font: 16px Arial;
	margin-right: 10px;
}
#zone-user .content .menu li,
#zone-user-wrapper .language-switcher-locale-url li {
	list-style: none;
	float: left;
}
#zone-user-wrapper #block-system-user-menu {
	position: absolute;
	right: -130px;
	top: -12px;
}
#zone-user-wrapper #block-locale-language {
	position: absolute;
	top: -10px;
	left: -160px;

}
#zone-user-wrapper #block-ajax-register-ajax-register-block {
	position: absolute;
	right: -130px;
	padding-top: 6px;
}
header .site-slogan {
	font: 22px Arial;
	color: white;
	text-transform: uppercase;
	text-align: right;
	margin: -30px 0 0 440px;
	width: 424px;
}
#section-footer {
	background-color: #002060;
	margin-top: 20px;
	color: white;
	font: 20px Arial;
	padding: 20px;
	min-width: 960px;
}

#block-system-main {
	padding: 5px;
	box-shadow: 0 0 25px -8px #002060;
	width: 930px;

}

#block-system-main .panels-flexible-region-1-right {
	height: 472px;
	width: 317px;
}
#block-system-main .panels-flexible-region-1-right .pane-title {
	background-color: #002060;
	color: white;
	display: block;
	font: 28px Arial;
	margin: 0 0 10px 0;
	text-align: center;
}
#block-system-main .panels-flexible-region-1-right-inside {
	padding: 0;
	height: 472px;
}
#block-system-main .panels-flexible-region-1-right #edit-choice .form-item-choice label {
	font: 20px Arial;
	color: #000000;
	margin-left: 5px;
}
#block-system-main .panels-flexible-region-1-right .poll .title {
	font: 24px Arial;
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
}
#block-system-main .panels-flexible-region-1-right .poll .vote-form input[type="submit"] {
	border: 0;
	background: none;
	height: 35px;
	width: 317px;
	background-color: #002060;
	border-radius: 0;
	color: white;
	font: 21px Arial;
	text-shadow: none;
}
#block-system-main .panels-flexible-region-1-right .poll .vote-form input[type="submit"]:hover {
	background-color: #189E9E;
}
#block-system-main .panels-flexible-region-1-right .pane-content .links {
	padding: 0;
	margin: 1px 0 0 0;
}
#block-system-main .panels-flexible-region-1-right .pane-content .links li {
	list-style: none;
}
#block-system-main .panels-flexible-region-1-right .pane-content .total,
#block-system-main .panels-flexible-region-1-right .pane-content .links li a {
	display: block;
	padding: 4px;
	margin: 0px 0px 1px 0px;
	background-color: #002060;
	color: white;
	text-align: center;
	font: 21px Arial;
}
#block-system-main .panels-flexible-region-1-right .pane-content .total {
	margin-top: 27px;
}
#block-system-main .panels-flexible-region-1-right #edit-choice {
	height: 236px;
}
#block-system-main .panels-flexible-region-1-right .pane-content .poll .percent {
	position: absolute;
	z-index: 10;
	font: 21px Arial;
	color: black;
	margin: -50px 0px 0px 256px;
}
#block-system-main .panels-flexible-region-1-right .pane-content .poll .text {
	position: absolute;
	z-index: 1;
	font: 21px Arial;
	color: black;
	margin: 6px 0 0 10px;
}
#block-system-main .panels-flexible-region-1-right .pane-content .bar {
	position: relative;
	background-color: white;
	height: 36px;
	box-shadow: 0 0 13px -5px #002060;
	margin-bottom: 20px;
}
#block-system-main .panels-flexible-region-1-right .pane-content .bar .foreground {
	background-color: #189E9E;
	height: 36px;
}
 .view-photos-page .view-content .views-row {
	margin: 0 5px 5px 0;
	float: left;
	box-shadow: 0 0 28px -13px black;
	width: 295px;
	height: 280px;
	padding: 5px;
}
.view-photos-page .view-content .views-row .vote-current-score,
.view-photos-page .view-content .views-row .voted-how {
	display: inline-block;
	padding: 0;
}
.view-photos-page .item-list .pager,
.view-articles-page .item-list .pager {
	padding: 25px;
}
.view-articles-page .view-content .views-row {
	margin: 0 5px 5px 0;
	float: left;
	box-shadow: 0 0 28px -13px black;
	width: 295px;
	height: 370px;
	padding: 5px;
}
.view-articles-page .view-content .views-row .views-field-title {
	font: 20px Arial;
	text-align: center;
}
p {
	text-indent: 15px;
	text-align: justify;
	margin: 5px;
	font: 15px Arial;
}
.view-articles-page .view-content .views-row .fivestar-summary {
	font: 14px Arial;
	margin-top: 5px;
}
#page-title {
	font: 31px Arial;
	margin: 10px;
}
.webform-client-form .webform-component .form-text {
	height: 40px;
	padding: 5px 0 5px 15px;
	font: 16px Arial;
	width: 500px;
}
.webform-client-form .webform-component textarea {
	padding: 5px 0 5px 15px;
	font: 16px Arial;
	width: 500px;
}
.panels-flexible-2 .pane-title {
	font: 24px Arial;
	margin: 0 0 16px 0;
	clear: both;
}

.webform-client-form .form-actions input[type="submit"] {
	border: 0;
	background: none;
	height: 40px;
	width: 170px;
	background-color: #002060;
	border-radius: 0;
	color: white;
	font: bold 18px Arial;
	text-shadow: none;
}
.webform-client-form .form-actions input[type="submit"]:hover,
.view-display-id-block_1 .view-content .views-row input[type="submit"]:hover {
	background-color: #189E9E;
}
.view-shop .view-content .views-row {
	margin: 0 5px 5px 0;
	float: left;
	box-shadow: 0 0 28px -13px black;
	width: 295px;
	height: 253px;
	padding: 5px;

}
.view-shop .views-field-name span a,
.view-display-id-block_1 .views-row .views-field-title a {
	background-color: #000000;
	color: white;
	display: block;
	font: 24px Arial;
	text-align: center;
	margin-bottom: 5px;
}

.view-display-id-block_1 .view-content .views-row {
	margin: 0 5px 5px 0;
	float: left;
	box-shadow: 0 0 28px -13px black;
	width: 295px;
	height: 335px;
	padding: 5px;

}
.views-field-field-product .form-type-textfield ,
.views-field-field-product .form-type-textfield label  {
	display: inline-block;
}
.view-display-id-block_1  .view-content .views-row input[type="submit"] {
	border: 0;
	background: none;
	height: 23px;
	max-width: 154px;
	min-width: 149px;
	background-color: #002060;
	border-radius: 0;
	color: white;
	font: bold 16px Arial;
	text-shadow: none;
}

article .comment {
	margin: 0 5px 5px 0;
	float: left;
	box-shadow: 0 0 28px -13px black;
	background-color: #BBE9FF;
	padding: 5px;
}
article .comment header h3 a {
	font: bold 22px Arial;
	color: #002060;
	text-transform: uppercase;
}
article {
	clear: both;
}
h2.comment-form {
	clear: both;
	font: 30px Arial;
}
.view-display-id-block_1 .views-row .views-field-commerce-price {
	font: 20px Arial;
}

.translation-link {
	display: none;
}
.commerce-line-item-views-form form table {
	width: 930px;
	font: 18px Arial;
}
.commerce-line-item-views-form form .cols-5 thead {
	background-color: #002060;
	color: white;
}

.commerce-line-item-views-form form table tbody .delete-line-item {
	border: 0;
	background: none;
	height: 23px;
	border-radius: 0;
	color: red;
	font: 18px Arial;
	text-shadow: none;
}
.commerce-line-item-views-form form table tbody tr {
	background-color: white;
}
.commerce-line-item-views-form form table tbody .delete-line-item:hover {
	background-color: red;
	color: white;
}
.commerce-line-item-views-form form .line-item-summary {
	font: 18px Arial;
}
.commerce-line-item-views-form form  .line-item-total-raw {
	color: green;
}

.commerce-line-item-views-form form .commerce-line-item-actions input {
	border: 0;
	background: none;
	background-color: #002060;
	height: 30px;
	border-radius: 0;
	color: white;
	font: 18px Arial;
	text-shadow: none;
	padding: 5px;
	margin-right: 2px;
}
.commerce-line-item-views-form form .commerce-line-item-actions input:hover {
	background-color: #189E9E;
}
.node-products .field-type-image img {
	float: left;
	margin-right: 10px;
}
.commerce-add-to-cart .form-type-textfield,
.commerce-add-to-cart .form-type-textfield label  {
	display: inline-block;
	font: 20px Arial;
}

.field-type-commerce-price {
	font: 35px Arial;
	color: green;
}

.commerce-add-to-cart .form-submit {
	border: 0;
	background: none;
	height: 23px;
	padding: 0 10px;
	background-color: #002060;
	border-radius: 0;
	color: white;
	font: bold 16px Arial;
	text-shadow: none;
}
.views-field-commerce-price {
	background-color: green;
	color: white;
	text-align: center;
}
.panels-flexible-region-3-center {
  width: 100%;
}
.field-type-text-long .field-item {
	font: 16px Arial;
	text-align: justify;
	text-indent: 20px;
}
.block-product {
	width: 295px;
	padding: 5px;
	text-align: center;
	font: 18px Arial;
	float: left;
	margin: 0 5px 5px 0px;
	box-shadow: 0 0 22px -8px #002060;
	height: 242px;
}



.field-name-field-term-reference .field-item a {
	font: 16px Arial;
	text-transform: uppercase;
	display: inline-block;
	background-color: #00ADFF;
	color: white;
	padding: 10px;
	text-decoration: none;
	border-radius: 6px;
	margin-bottom: 15px;
}
.field-name-field-term-reference .field-item a:hover,
.comment-form .form-submit:hover {
	box-shadow: 0 0 34px -7px #002060;
	background-color: #00AEFF;
}
.comment-form .form-submit {
	font: 14px Arial;
	background: none;
	text-shadow: none;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	background-color: #00ADFF;
	color: white;
	padding: 8px;
	text-decoration: none;
	border-radius: 5px;
	margin-bottom: 15px;
}
.node-article .field-item img {
	padding: 0 25%;
}
.node-page .field-name-body .even p img {
	margin: 0 5%;
}
#mymodule-table-pager input[type="checkbox"] {
	display: none;
}

#mymodule-table-pager .table-all-products {
	min-width: 930px;
}
#mymodule-table-pager .table-all-products tbody tr td {
	font: 18px Arial;
	text-align: center;
}
#mymodule-table-pager .table-all-products thead tr th a{
	display: inline-block;
	padding: 5px;
	text-align: center;
	font: 21px Arial;
	background: #00aeff;
	color: white;
}
#mymodule-table-pager .table-all-products thead tr {
	background-color: #00AEFF;
}
#mymodule-table-pager .table-all-products tbody tr:hover {
	background-color: #94DDFF;
	-webkit-transition: background-color .5s ease-in-out;
}
#mymodule-table-pager .pager {
	margin-top: 20px;
	font: 20px Arial;
}
#mymodule-table-pager .table-all-products thead tr th:nth-child(1) {
	border-right: none;
}
#mymodule-table-pager .table-all-products thead tr th {
	border-right: 1px solid;
	border-color: white;
}